Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Material/Textrue/Environment/Curtain/TCom_Fabric_DishCloth2_4K_normal.uasset
